* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  max-width: 992px;
  margin: 0 auto;
}
.part-first {
  width: 60%;
}
.letter-part {
  padding: 50px;
  border: 1px solid #ecf0f1;
  border-radius: 10px;
}
.span-dot {
  color: DodgerBlue;
}
.border-botem {
  border-bottom: 1px solid #ecf0f1;
  margin-top: 20px;
}
.letter-part p {
  color: #7f8c8d;
  margin: 15px 0 0 0;
}
.letter-part span {
  color: #95a5a6;
  margin: 15px 0 0 0;
}
.appoint-link a {
  text-decoration: none;
  color: DodgerBlue;
  font-weight: 500;
}

/* address part started here!  */
.part-second {
  width: 40%;
  padding-left: 20px;
}
.adress-part {
  padding: 20px;
  border: 1px solid #ecf0f1;
  border-radius: 10px;
  max-width: 250px;
  height: 100%;
}
.adress-part p {
  color: #7f8c8d;
  margin: 15px 0 15px 0;
}
.img-class {
  text-align: center;
}

/* media query for responsive  */
@media only screen and (max-width: 576px) {
  .main-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
  }
  .part-first {
    width: 100%;
  }
  .letter-part {
    padding: 20px;
    width: 100%;
  }
  .adress-part {
    max-width: 100%;
    padding: 20px;
  }
  .part-second {
    width: 100%;
    margin-top: 20px;
  }
}
